* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: VTB Group UI;
}

:root {
  --grey-bg-color: #ececec;
  --white-bg-color: #ffffff;
}

body {
  background-color: #f1f3f6;
}
